#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#container video {
	box-shadow: 0 0 25px rgba(20, 20, 20, 0.7);
	width: 1000px;
	height: auto;
}

#time {
	font-size: 32px;
}
